<center><h1>Hello!</h1></center>
<center><h3>Enter your details below:</h3></center>
<center><form action="/name" method="post">

<center>
  <label for="persons_name">
    Name:
    <input type="text" name="persons_name">
  </label>
</center>

<p><center>
  <label for="persons_bday">
    Your birthday (dd/mm)
    <input type="text" name="persons_bday">
  </label>
  <input type="submit" value="Go">
</center></p>
